/*************************************************************** */
/*******************General**************************** */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.center-div {
  width: 90%;
  margin:  auto;
}

/*************************************************************** */
/*******************Hero section**************************** */
.hero-nav {
    position: relative;
    height: 100vh;

 
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
  }

  .main-hero {
    background-image: url(../img/final.png);
     background-repeat: no-repeat;
     background-size: cover;
    background-position: center center;
    /* background-size: cover; */
  }

  /* .hero-nav::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/final.png");
    background-size: cover;
    background-position: center center;

    filter: brightness(90%) blur(5px);
    z-index: -1;
  } */



.logo-img {
    width: 7.5rem;
    border: 2px solid #fab9b9;
    border-radius: 100px;
}

.logo-img:hover {
    box-shadow: 1px 2px 10px 5px grey;
    cursor: pointer;
  }

.header {
    padding: 1.6rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    list-style: none;

    display: flex;
    align-items: center;
    gap: 7.6rem;
}

/* Decorating the link */
.link:link,
.link:visited {
    text-decoration: none;
    font-size: 2.5rem;
    color: rgb(29, 28, 28);
}

.link:hover,
.link:active {
  text-decoration:wavy;
  color: #cf711f;
}

/* Decorating the button */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
    font-family: sans-serif;
    margin: 0px 4px;
    background-color: #cf711f;
    color: white;
    padding: 4px 14px;
    border: 2px solid rgba(0, 0, 0, 0.207);
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.btn--link {
  text-decoration: none;
}

  .btn:hover {
    box-shadow: 1px 2px 10px 5px rgba(255, 166, 0, 0.26);
}

/*******************Decorating texts**************************** */
.text-container {
  /* text-align: center; */
  width: 68rem;

  /* background-color: rgba(66, 32, 32, 0.097); */
  padding: 2rem;
  border-radius: 20px;
  font-size: 2.4rem;

  background-color: white;
  /* background-color: ; */

  margin-left: 50vw;

  /* transform: translate(110%); */
  opacity: 70%;
  box-shadow: 0 4px 8px white; 
}

.child-container {
  margin: 2vh 6vh;  
}

.header-main {
  /* font-family: "Inconsolata", monospace;
  font-family: "Qahiri", sans-serif;
  font-family: "Source Code Pro", monospace; */
  color: #4d2809;

  letter-spacing: -6px;
}

.child-container :nth-child(1) {
  font-family: "Inconsolata", monospace;
  font-family: "Montserrat", sans-serif;
  font-family: "Qahiri", sans-serif;
  font-family: "Source Code Pro", monospace;
}

.child-container :nth-child(2) {
  font-family: "Inconsolata", monospace;
  font-family: "Qahiri", sans-serif;
  font-family: "Source Code Pro", monospace;
}

/*************************************************************** */
/*******************Featured in section**************************** */
.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/*************************************************************** */
/*******************Testimonals**************************** */
.section-testimonials {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  padding: 9.6rem;
}


.heading-secondary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;

  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
  object-fit: cover;
  
}

.gallery-item img:hover {
  transform: scale(1.1);
}


/*************************************************************** */
/*******************Pricing**************************** */
.section-pricing {
  padding: 3.6rem;
  /* background-color:  #fdf2e9; */
}

.price-holder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  max-width: 60%;
  margin: auto;
}

.price-head {
  padding: 1.6rem 2rem 1.6rem ;

}

.price-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 75%;

  text-align: center;
  align-items: center;
  
  box-shadow: 0px 0px 0px 2px rgba(255, 0, 0, 0.147);
  border-radius: 11px;
  
}

.price-body ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.price-box1 {
  justify-self: end;
}

.price-box2 {
  justify-self: start;
  background-color: #fdf2e9;
}

.price-value{
  font-size: 3.6rem;
}

.dollar-sign, 
.price-disc,
.price-body {
  font-size: 1.8rem;
}

.price-body ul li {
  list-style-type: none;
}

.price-last {
  display: inline-block;
  width: 50px;
}

.cta {
  padding: 1.2rem;
}

.btn--price {
  width: 132px;
}


/*************************************************************** */
/*******************Footer**************************** */
.footer .container {
  width: 80%;
}

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

/* general footer */
.other-footer  {
  background-color: #d47f35 ;
  padding: 10px;
  text-align: center;
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}

